body {
  background-color: #f3f3f3;
  color: #333;
  font-size: 1.5rem;
  line-height: 1.5;
  margin: 2rem;
}

section {
  margin-top: 2rem;
}

figure {
  margin: 1rem 0;
}

img, canvas {
  box-shadow: 0.6rem 0.6rem 1rem #a2a2a2;
  display: block;
}

img {
  margin-top: 2rem;
  max-width: 100%;
}

h2 {
  font-weight: normal;
}

label, legend, input, select {
  display: block;
  margin-bottom: 1rem;
}

input, select {
  margin-bottom: 2.3rem;
}

input, select, button {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.5rem;
  text-transform: uppercase;
}

input[type="number"] {
  text-align: center;
}

fieldset {
  border: unset;
  margin: unset;
  margin-bottom: 2rem;
  padding: unset;
}

button {
  cursor: pointer;
  margin: 0.5rem 0;
  padding: 0.5rem;
  display: block;
}

button a {
  color: unset;
  text-decoration: unset;
}

.save-button {
  margin-top: 2rem;
}

.checkbox-label {
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
  font-family: 'Courier New', Courier, monospace;
  margin: unset;
  text-transform: uppercase;
}

.checkbox-input {
  height: 1.5rem;
  margin: unset;
  margin-right: 0.75rem;
  width: 1.5rem;
}

.inline-fieldset, .inline-form {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.inline-form {
  margin-bottom: 2rem;
}

.inline-label-wrapper {
  align-items: center;
  display: flex;
  margin-bottom: unset;
  margin-right: 3rem;
}

.inline-input, .inline-label, .inline-button {
  margin: unset;
  margin-right: 0.5rem;
}

.inline-input + .inline-button {
  margin-left: 2rem;
  margin-right: 2rem;
}

@media only screen and (max-width: 500px) {
  .inline-input + .inline-button {
    margin-left: unset;
    margin-right: unset;
    margin-top: 1rem;
  }
}

.form-tip {
  font-size: 1.2rem;
  font-style: italic;
}

.input-with-tip {
  margin-bottom: 1rem;
}

.input-with-tip + .form-tip {
  margin-top: 0;
  margin-bottom: 2.3rem;
}

.sr-only {
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
}

.loading-ellipse1,
.loading-ellipse2,
.loading-ellipse3 {
  animation: LoadingEllipses;
  animation-iteration-count: infinite;
  animation-timing-function: steps(2, jump-both);
  opacity: 0;
}

.loading-ellipse1 {
  animation-delay: 0s;
  animation-duration: 1s;
  
}
.loading-ellipse2 {
  animation-delay: 0.1s;
  animation-duration: 1s;
}
.loading-ellipse3 {
  animation-delay: 0.2s;
  animation-duration: 1s;
}

@keyframes LoadingEllipses {
  0% {
    opacity: 0;
  }

  49% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}
