body {
  background-color: #f3f3f3;
  color: #333;
  font-size: 1.5rem;
  line-height: 1.5;
  margin: 2rem;
}

section {
  margin-top: 2rem;
}

figure {
  margin: 1rem 0;
}

img {
  margin-top: 2rem;
  max-width: 100%;
}

h2 {
  font-weight: normal;
}

label, input, select {
  display: block;
  margin: 0.5rem 0;
}

input, select {
  margin-bottom: 2.3rem;
  margin-top: 1rem;
}

input, select, button {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.5rem;
  text-transform: uppercase;
}

button {
  cursor: pointer;
  margin: 0.5rem 0;
  padding: 0.5rem;
  display: block;
}
